{% extends "base.html" %}
{% block title %}RElecture{% endblock %}
{% block body %}
<style>
    .carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h2><a class="navbar-brand" href="/"><span style="color: darkgreen;">RE</span>lecture</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link disabled" style="color:#34106b;" href="#" tabindex="-1" aria-disabled="true" >hello {{request.user}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        {%else%}
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" href="/logout">Logout</a>
        <input class="form-control mr-sm-2" type="search" placeholder="Search experts..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav><br><br>
<div class="container">
    {% if messages %}
    <div>
    {% for message in messages %}
            <div id="alert" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert"  ><h5><strong> {{ message }}</strong></h5></div>
    {% endfor %}
    {% endif %}
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/media/images/1.png" class="d-block w-100" alt="a">
          </div>
        </div>
      </div>
      <br>
    <div class="row" style="justify-content: right;" >
        <div class="col-lg">
        
            <br>
                <h4><p class="badge badge-secondary">Its Easy Just Follow these steps</p></h4>
            <ol>
                <li style="color: #effafd;" >Complete the Registration process by clicking the button beside</li><br>
                <li style="color:#effafd;" >Fill All the details and thats it. You are ready to explore <br>
                </li>
            </ol>
          </div>
        <div class="card border-warning mb-3" style="max-width: 18rem;background-color: mintcream; ">
            <div class="card-header"><h4>Get Started By simple Registration</h4></div>
            <div class="card-body text-info">
              <p class="card-text text-dark">We dont ask much just fill your basic details</p>
              <a href="/register"><button class="btn btn-warning">Register</button></a>
            </div>
            <br>
          </div>
    </div>
</div>      

{%endblock body%}